<!-- <nav class="navbar_main" *ngIf="showMenu">
    A linha 1 era para fazer desaparecer a navbar do login, 
    mas estava a saír em todas as páginas e não consegui
    encontrar o problema.
    <a class="nav_title" routerLink="/">
-->

<!--Navbar principal-->
<nav class="navbar_main" >

    <a class="nav_title" routerLink="/">
        <h2>FutureBank</h2>

    </a>
    <div class="container_fluid">
        <ul class="navbar_nav">
            
             <!-- Navbar: Historia de transferência  -->
             <li class="navbar_item">
                <a routerLink="history" class="navbar_link" routerLinkActive="active">
                    Transaction History
                </a>
            </li>

            <!-- Navbar: Fazer depositos  -->
            <li class="navbar_item">
                <a routerLink="deposit" class="navbar_link" routerLinkActive="active">
                    Deposit
                </a>
            </li>

             <!-- Navbar: Fazer transferências  -->
             <li class="navbar_item">
                <a routerLink="cashtransfer" class="navbar_link" routerLinkActive="active">
                    Cash Transfer
                </a>
            </li>

            <!-- Navbar: Logout  -->
            <li class="navbar_item">
                <a routerLink="login" class="navbar_link_Logout" routerLinkActive="active" >
                    Logout
                </a>
            </li>

        </ul>

    </div>

</nav>

<main class="container">
<router-outlet></router-outlet>
</main>

<footer>
   <!--Rodapé-->
    <p class="footer_page">
        <span>FutureBank</span> &copy; 2023
    </p>
</footer>
